<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<title>Comfort-o-Meter</title>
		<link rel="stylesheet" href="/css/style.css">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script src="https://raw.github.com/square/cubism/master/cubism.v1.min.js"></script>
		<script src="/js/feedsocket.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
		<p id="log"></p>
    </body>
</html>
